USE [master]
GO
/****** Object:  Database [SEDCACADEMYDB]    Script Date: 18.5.2024 18:37:09 ******/
CREATE DATABASE [SEDCACADEMYDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SEDCACADEMYDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SEDCACADEMYDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SEDCACADEMYDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SEDCACADEMYDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEDCACADEMYDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEDCACADEMYDB]
GO
/****** Object:  Table [dbo].[AchivementType]    Script Date: 18.5.2024 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AchivementType](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[ParticipationRate] [decimal](18, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 18.5.2024 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Credit] [int] NOT NULL,
	[AcademicYear] [date] NOT NULL,
	[Semestar] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeDetails]    Script Date: 18.5.2024 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeDetails](
	[Id] [int] NOT NULL,
	[GradeId] [int] NOT NULL,
	[AchivementTypeId] [int] NOT NULL,
	[AchivementPoints] [int] NOT NULL,
	[AchivementDate] [date] NOT NULL,
	[AchivementMaxPoints] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 18.5.2024 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[StudentId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Grade] [int] NOT NULL,
	[Comment] [nvarchar](100) NULL,
	[CreatedDate] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 18.5.2024 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[EnrolledDate] [date] NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[NationalIDNumber] [nvarchar](10) NOT NULL,
	[StudentCardNumber] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 18.5.2024 18:37:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ID] [int] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[AcademicRank] [nvarchar](max) NULL,
	[HireDate] [date] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
